.chat-message-user {
  display: flex;
  justify-content: flex-end;
  align-items: start;
   width: 100%;
}

.chat-message-robot {
  display: flex;
  align-items: flex-start;
   width: 100%;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}

.message-time-robot {
  font-size: 13px;
  color: rgb(129, 129, 129);
  margin-top: 7px;
}

.message-time-user {
  font-size: 13px;
  color: rgb(129, 129, 129);
  margin-top: 7px;
  text-align: end;
}